body{
    /*Gradient pārēju ģenerātors: https://cssgradient.io/*/
    background: rgb(5,8,50);
    background: linear-gradient(90deg, rgba(1,20,1) 0%, rgba(2,101,1) 35%, rgba(0,255,1) 100%);
}
.wrapper{
    width: 600px;
    height: 400px;
    background-color: aliceblue;
    border: 2px solid rgb(10, 15, 37);
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
}
.chataZinas{
    background-color: rgb(250, 250, 250);
    height: 300px;
    margin: 5px;
    border: 1px solid rgb(40, 40, 73);
    border-radius: 5px;
    color:rgb(50, 10, 9);
    padding: 5px;
    /*parāda ritjoslu, kad čata ziņas pārsniedz bloka izmēru*/
    overflow-y: scroll;
}